<div>
  <table>
    <h3><%= title %></h3>

    <tr>
      <th scope="col"><%= type %></th>
      <th scope="col"><%= column_name(title) %></th>
    </tr>
    <% highest_first(data).each do |line| %>
      <tr>
        <th scope="row"><%= line[0] %></th>
        <td><%= line[1] %></td>
      </tr>
    <%end%>
  </table>
</div>
