<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <h1>ALDO Monitoring</h1>

    <div class='menu'>
      <%= link_to 'Livestream', '/' %>
      <%= link_to 'Alert overview', '/alerts' %>
    </div>
    <%= yield %>
  </body>
  <%= javascript 'jquery' %>
  <%= javascript 'stock', 'settings' %>
  <%= stylesheet 'app' %>
</html>
