<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript 'critical_stock' %>
  <%= javascript 'jquery' %>
  <%= stylesheet 'app' %>
</html>
